header {
    height:100px;
    padding:10px;
    .buttons{
        display: flex;
        .avater{
            width:60px;
            height:60px;
            img {
                border: 5px solid  #ffedab;
                border-radius:40px;
                width:70px;
                height:70px;
            }
        }
        .avater:hover{
            display: inline-block;
            animation: hurueru 1s  linear infinite;
        }
        @keyframes hurueru {
            	0%	{transform:rotate(0deg)	translate(0,0);}
                12.5%	{transform:rotate(0.4deg)	translate(2px,-2px);}
                25%	{transform:rotate(0.8deg)	translate(0px,1px);}
                37.5%	{transform:rotate(0.4deg)	translate(-2px,0);}
                50%	{transform:rotate(0deg)	translate(0,0);}
                62.5%	{transform:rotate(-0.4deg)	translate(2px,0);}
                75%	{transform:rotate(-0.8deg)	translate(0,2px);}
                87.5%	{transform:rotate(-0.4deg)	translate(-2px,-2px);}
                100%	{transform:rotate(0deg)	translate(0,0);}
        }
        a{
            color: black;
            text-decoration:none;
        }
        .button{
            border: 7px solid #ffedab;
            border-radius:35px;
            position: relative;
            margin-left:30px;
            width:100px;
            height: 70px;
                .text {
                      font-weight:bold;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translateY(-50%) translateX(-50%);
                }
        }
    }
}
.title-all {
    border: 7px solid #ffedab;
    border-radius:80px;
    position: relative;
    width: 500px;
    margin: auto;
    padding:25px;
    font-weight: bold;
    letter-spacing:10px;
}
@media (min-width: 0px) and (max-width: 599px) {
    .title-all {
        width:300px;
        font-size:30px;
    }
}
.blog-post-container {
    margin:0px 100px;
    padding:20px;
    background:#ffedab;
    border-radius: 70px;
    @media (min-width: 0px) and (max-width: 599px) {
        .title {
            font-size:30px;
        }
    }
    .title {
        margin: 50px auto;
        text-align: center;
        font-weight:bold;
        width: 100%;
    }
    .date{
        text-align: right;
    }
    .title-border{
            height:10px;
            background: linear-gradient(to right, #00CC66, #00CC66 50%, #F0908D 50%, #F0908D);
            background-size: 60px 60px;
    }

    img{
     width:97%;
     max-width:700px;
    }
}
@media (min-width: 0px) and (max-width: 599px) {
.blog-post-container {
    margin:0px 5px;
}
}
