@import '~flexboxgrid';
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru|Noto+Sans+JP');

// Set box-sizing globally to handle padding and border widths
*, *:after, *:before {
  box-sizing: inherit
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
	box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
	font-weight: 300;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
	margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
	font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

h2 {
	font-size: 2.2rem;
  line-height: 1.25;
  font-weight: 600;
}

h3 {
	font-size: 1.9rem;
  line-height: 1.3;
  font-weight: 500;
}

h4 {
	font-size: 1.8rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
  font-weight: 400;
}

h5 {
	font-size: 1.7rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
  font-weight: 400;
}

h6 {
	font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}
